@import "./font-face.css";
@import "./font-awesome.min.css";

html {
  font: 14px/20px "Graphik Web Light", Arial, Verdana, sans-serif;
}

/* remove focus outline in Chrome */
:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

nav {
  text-align: center;
}

.word {
  font-family: "Graphik Web SemiBold";
}

.lexi-container {
  margin: 0 30%;
  text-align: left;
}

.searchBox {
  float: left;
}

.filterByText {
  text-transform: uppercase;
  float: right;
  font-size: smaller;
}

.clearButton {
  font-size: smaller;
}

.letter::before {
  content: " | ";
  white-space: nowrap;
}

.letter:first-child::before {
  content: "";
  white-space: nowrap;
}

.tags a {
  text-decoration: none;
}

.fa-volume-up {
  color: purple;
  cursor: pointer;
}

.keywords {
  background-color: pink;
  border: white 1px solid;
  margin-right: 1%;
  border-radius: 10px;
  color: slategrey;
  text-transform: uppercase;
}

.tags {
  background-color: aqua;
}

hr {
  border: lightgrey 1px solid;
}
